function main.main 0
push argument 0
pop pointer 0
push pointer 0
push constant 1
push constant 2
push constant 3
call main.bloop 4
pop temp 0
push constant 0
return
function main.bloop 0
push argument 0
pop pointer 0
push constant 13
return
