function main.main 1
push argument 0
pop pointer 0
push constant 0 
pop local 0
push constant 9 
pop this 0
push local 0
push this 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
goto IF_END0
label IF_FALSE10
label IF_END0
function main.} 0
